= form_for @season, url: url_for(controller: 'admin/seasons', action: (editing ? :update : :create)) do |f|
  = f.label :number
  = f.number_field :number, value: (@num_guess.present? ? (@num_guess + 1) : @season.number)
  = f.submit nil, class: 'button'