%h1
  Queue (
  %span#queue_counter>= @queued.length
  )
= render partial: 'queue_list', locals: {episodes: @queued, future: false}
%h3 Upcoming
= render partial: 'queue_list', locals: {episodes: @upcoming, future: true}