/* This will contain global css for your application */
.small-image {
  max-width: 75px;
  max-height: 75px;
}
.large-image {
  max-width: 225px;
  max-height: 225px;
}
.center {
  text-align: center;
}