/* This will contain global css for your application */
.center {
  text-align: center;
}
a {
  outline: 0 !important;
}
@mixin transition-fast {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@mixin transition($interior){
  -webkit-transition: $interior;
  -moz-transition: $interior;
  -o-transition: $interior;
  transition: $interior;
}
@mixin scale($amount){
  -webkit-transform: scale($amount);
  -moz-transform: scale($amount);
  -o-transform: scale($amount);
  transform: scale($amount);
}
@mixin grayscale($percent){
  -webkit-filter: grayscale($percent);
  -moz-filter: grayscale($percent);
  filter: grayscale($percent);
}
@mixin radius($amount){
  -webkit-border-radius: $amount;
  -moz-border-radius: $amount;
  border-radius: $amount;
}
body {
  background: whitesmoke;
}
footer {
  height: 5em;
}
#bottom-shadow {
  height: 4em;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 33%, rgba(0,0,0,0.25) 66%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(33%,rgba(0,0,0,0.1)), color-stop(66%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 33%,rgba(0,0,0,0.25) 66%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 33%,rgba(0,0,0,0.25) 66%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 33%,rgba(0,0,0,0.25) 66%,rgba(0,0,0,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 33%,rgba(0,0,0,0.25) 66%,rgba(0,0,0,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
  position: fixed;
  width: 100%;
  bottom: 0;
}
$ep-outline: #aaa;

// Queue
.episodes-container{
  margin: 0 auto;
  display: block;
  text-align: center;
}
ol.episodes {
  list-style-type: none;
  display: inline-block;
  margin: 0 3.9rem 0 1.4rem;
}
li.episode {
  margin: 0.2em 0;
  border: solid 1px $ep-outline;
  background-color: white;
  width: 100%;
  position: relative;
  height: 3em;
  &:hover {
    background-color: #f8f8f8;
  }
  &>* {
    float: left;
  }
  .pic-link {
    height: 100%;
    width: 4em;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      opacity: 0.8;
    }
  }
  .general {
    padding-left: 1em;
    padding-right: 0.5em;
    width: 18em;
    overflow: hidden;
    text-align: middle;
    position: relative;
    height: 100%;
    hr {
      margin: 2px 0;
    }
  }
  .name {
    font-size: small;
    white-space: nowrap;
    margin: 0;
    text-align: center;

    @include transition(right 2s);
    &:hover {
      right: 100%;
    }
  }
  .numbers {
    font-size: smaller;
    text-align: center;
    height: 1.5em;
  }
  .spacer {
    height: 100%;
    border-right: 1px solid $ep-outline; 
    background: white;
    display: inline-block;
  }
  .box {
    text-align: center;
    padding-left: 0.5em;
    height: 100%;
    &.watch-mark {
      height: 2.5em;
      width: 2.5em;
      padding: 0;
    }
    &.torrent, &.streaming {
      padding: 0;
      width: 2em;
      text-align: center;
      height: 100%;
      overflow: hidden;
      a {
        display: inline-block;
        color: inherit;
        opacity: 0.6;
        height: 50%;
        width: 100%;
        &:hover {
          opacity: 0.6;
          background-color: #aaa;
          &.kickass {
            background-color: #c0af67;
          }
          &.netflix {
            background-color: #e50a15;
          }
          &.hulu {
            background-color: #99cc33;
          }
        }
      }
      img {
        vertical-align: top;
        margin-top: 0.1em;
      }
    }
    &.aired {
      font-size: small;
      * {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
  }

  &.watched {
    .watch-mark {
      background-color: lighten(lightgreen, 15%);
      i {
        border-color: #999;
        &:before {
          opacity: 1;
        }
      }
      a.watched {
        right: 0;
      }
      a.unwatched {
        left: 100%;
      }
      &:hover {
        background-color: lightgreen;
      }
    }
  }
}
.aired {
  width: 8em;
  .exact {
    top: 0;
    position: absolute;
    opacity: 0;
    width: 100%;
    left: 0;
  }
  .airdate {
    position: relative;
  }
  &:hover {
    .relative {
      opacity: 0;
    }
    .exact {
      opacity: 1;
    }
  }
  .air {
    text-decoration: underline;
  }
}
.watch-mark {
  // @include transition-fast;
  position: absolute;
  overflow: hidden;
  left: 100.2%;
  top: -1px;
  -webkit-border-bottom-right-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  border-bottom-right-radius: 0.5em;
  border: 1px solid $ep-outline;
  border-left: none;
  background-color: white;
  color: #666;
  &:hover {
    background: yellow;
    color: black;
  }
  i {
    position: relative;
    left: -1px;
    font-size: 1.5em;
    padding: 0.15em;
    height: 1em;
    width: 1em;
    border: 1px solid #ccc;
    display: inline-block;
    margin-top: 0.25em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    &:before{
      @include transition(opacity 0.3s);
      position: absolute;
      left: 12.5%;;
      top: 0;
      opacity: 0;
    }
  }
  a {
    color: inherit;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    &.watched {
      right: 100%;
    }
    &.unwatched {
      left: 0;
    }
  }
}

$tile-overlay-bg: rgba(255,255,255, 0.9);
$tile-content-border: 1px solid #777;
.tiles {
  margin-top: 0.5em;
  a {
    color: inherit;
  }
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .tile {
    @include radius(0.5em);
    border: 1px solid #222;
    margin: 0.25em 0.25em;
    position: relative;
    height: 8em;
    background-size: cover;
    overflow: hidden;
    a {
      height: inherit;
    }
    img {
      height: inherit;
      @include grayscale(85%);
      opacity: 0.9;
      @include transition-fast;
    }
    .follow-container {
      @include transition-fast;
      position: absolute;
      right: 0;
      top: 0;
      background: $tile-overlay-bg;
      z-index: 3;
      -webkit-border-bottom-left-radius: 0.5em;
      -moz-border-radius-bottomleft: 0.5em;
      border-bottom-left-radius: 0.5em;
      width: 1.5em;
      height: 1.5em;
      top: -1.5em;
      border-left: $tile-content-border;
      border-bottom: $tile-content-border;
      &:hover {
        @include scale(1.25);
        top: -1.875em;
        right: 0.1875em;
      }
      a {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        top: 0;
        &.followed {
          display: none;
        }
        &.unfollowed {
          display: inline-block;
        }
      }
      .fi-heart {
        line-height: 1.5em;
        display: inline-block;
        text-align: center;
        width: 100%;
        color: grey;
        @include transition(inherit);
      }
    }
    &:hover {
      .follow-container {
        top: 0;
      }
      img {
        opacity: 0.8;
      }
      .metadata {
        top: 65%;
      }
    }
    .metadata {
      @include transition-fast;
      padding-left: 0.5em;
      position: absolute;
      top: 100%;
      left: 0;
      height: 35%;
      width: 100%;
      background: $tile-overlay-bg;
      border-top: $tile-content-border;
      font-size: small;
      h5 {
        margin-bottom: 0.1em;  
        font-size: small;
      }
      .numbers {
        font-size: smaller;
      }
    }
    &.followed {
      img {
        @include grayscale(0%);
        opacity: 1.0;
      }
      .follow-container a {
        &.followed {
          display: inline-block;
        }
        &.unfollowed {
          display: none;
        }
      }
      .fi-heart {
        color: red;
      }
    }
  }
}

.season-arrow {
  width: 0; 
  height: 0; 
  border-bottom: 1em solid transparent;  /* left arrow slant */
  border-top: 1em solid transparent; /* right arrow slant */
  border-left: 1em solid #2f2f2f; /* bottom, add background color here */
  line-height: 0;
  display: inline-block;
  float: left;
}
.season-bar {
  .progress {
    display: inline-block;
    margin: 0;
    height: 2em;
  }
  .title {
    vertical-align: middle;
    line-height: 2em;
    display: inline-block;
    float: left;
    padding: 0 0.5em;
  }
  .progress {
    text-align: center;
  }
  .percentage {
    position: absolute;
    top: 20%;
    left: 50%;
  }
}
.episode-list {
  @include transition(all 0.5s);
  overflow: hidden;
  position: relative;
  max-height: 1000px;
  &.up {
    max-height: 1px;
  }
}