/* This will contain global css for your application */
.center {
  text-align: center;
}

// Queue
ol.episodes {
  list-style-type: none;
}
li.episode {
  margin: 0.2em 0;
  border: solid 1px #ddd;
  overflow: hidden;
  position: relative;
  height: 3em;
  &>* {
    float: left;
  }
  .pic-link {
    height: 100%;
    width: 4em;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .general {
    padding-left: 1em;
    width: 20em;
    overflow: hidden;
    text-align: right;
  }
  .name {
    max-width: 18em;
    font-weight: 200;
    white-space: nowrap;
  }
  .numbers {
    font-size: smaller;
    text-align: right;
  }
  .spacer {
    height: 100%;
    border-right: 1px solid #ccc; 
    width: 0.5em;
    background: white;
    display: inline-block;
  }
  .box {
    text-align: center;
    padding-left: 0.5em;
    &.aired {
      font-size: small;
      * {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
  }
}
.aired {
  width: 8em;
  .exact {
    top: 0;
    position: absolute;
    opacity: 0;
    width: 100%;
    left: 0;
    font-weight: bold;
  }
  .airdate {
    position: relative;
  }
  &:hover {
    .relative {
      opacity: 0;
    }
    .exact {
      opacity: 1;
    }
  }
}