- title 'Shows'
- if @current_user && (@current_user.followed_shows.count < 3)
  .row
    %h3.alert-box.warning.center{data: {alert: true}, style: "background-color: #f08a24;border-color: #de770f;color: #FFFFFF;"}
      It's looking a little drab in here... follow some shows to brighten things up!
      %a.close{href: '#'} &times;
= render partial: 'shows_tiles', locals: {shows: @shows}
- if is_admin?
  = link_to new_admin_show_path do
    %i.fi-plus